CREATE TABLE Customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(100),
    email VARCHAR(100) UNIQUE
);

CREATE TABLE Products (
    product_id INT PRIMARY KEY,
    name VARCHAR(100),
    price INT,
    stock INT
);

CREATE TABLE Orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
);

CREATE TABLE OrderDetails (
    order_detail_id INT PRIMARY KEY,
    order_id INT,
    product_id INT,
    quantity INT,
    FOREIGN KEY (order_id) REFERENCES Orders(order_id),
    FOREIGN KEY (product_id) REFERENCES Products(product_id)
);

INSERT INTO Customers VALUES
(1, 'Alice', 'alice@mail.com'),
(2, 'Bob', 'bob@mail.com');

INSERT INTO Products VALUES
(1, 'Laptop', 1000, 10),
(2, 'Mouse', 50, 50);

INSERT INTO Orders VALUES
(1, 1, '2026-04-01');

INSERT INTO OrderDetails VALUES
(1, 1, 1, 1),
(2, 1, 2, 2);

CREATE INDEX idx_customer ON Orders(customer_id);
CREATE INDEX idx_product ON OrderDetails(product_id);

CREATE TRIGGER update_stock
AFTER INSERT ON OrderDetails
FOR EACH ROW
UPDATE Products
SET stock = stock - NEW.quantity
WHERE product_id = NEW.product_id;

START TRANSACTION;

INSERT INTO Orders VALUES (2, 2, CURDATE());

INSERT INTO OrderDetails VALUES (3, 2, 1, 1);

COMMIT;

CREATE VIEW OrderSummary AS
SELECT 
    o.order_id,
    c.name AS customer,
    p.name AS product,
    od.quantity,
    (p.price * od.quantity) AS total_price
FROM Orders o
JOIN Customers c ON o.customer_id = c.customer_id
JOIN OrderDetails od ON o.order_id = od.order_id
JOIN Products p ON od.product_id = p.product_id;

SELECT * FROM OrderSummary;
