-- Create Employees Table (for hierarchy)
CREATE TABLE Employees (
    emp_id INT PRIMARY KEY,
    name VARCHAR(100),
    manager_id INT
);

-- Insert Data (hierarchy structure)
INSERT INTO Employees (emp_id, name, manager_id) VALUES
(1, 'Alice', NULL),   -- CEO
(2, 'Bob', 1),
(3, 'Charlie', 1),
(4, 'David', 2),
(5, 'Eve', 2),
(6, 'Frank', 3);


-- 1. Non-Recursive CTE
-- Find average team size per manager

WITH EmployeeCounts AS (
    SELECT 
        manager_id,
        COUNT(*) AS team_size
    FROM Employees
    WHERE manager_id IS NOT NULL
    GROUP BY manager_id
)
SELECT 
    manager_id,
    team_size
FROM EmployeeCounts;


-- 2. Recursive CTE (Hierarchy)
-- Display organization structure

WITH RECURSIVE OrgChart AS (
    -- Base case (top-level manager)
    SELECT 
        emp_id,
        name,
        manager_id,
        1 AS level
    FROM Employees
    WHERE manager_id IS NULL

    UNION ALL

    -- Recursive part
    SELECT 
        e.emp_id,
        e.name,
        e.manager_id,
        oc.level + 1
    FROM Employees e
    INNER JOIN OrgChart oc 
        ON e.manager_id = oc.emp_id
)
SELECT * FROM OrgChart;