-- Create Orders Table with Date
CREATE TABLE Orders (
    order_id INT PRIMARY KEY,
    customer_name VARCHAR(100),
    order_date DATE,
    amount INT
);

-- Insert Data (mix of old + recent dates)
INSERT INTO Orders (order_id, customer_name, order_date, amount) VALUES
(1, 'Alice', CURDATE() - INTERVAL 10 DAY, 1200),
(2, 'Bob', CURDATE() - INTERVAL 40 DAY, 800),
(3, 'Charlie', CURDATE() - INTERVAL 5 DAY, 600),
(4, 'David', CURDATE() - INTERVAL 20 DAY, 1500),
(5, 'Eve', CURDATE() - INTERVAL 60 DAY, 700);


-- 1. Date Difference (DATEDIFF)
-- Days since order was placed

SELECT 
    customer_name,
    order_date,
    DATEDIFF(CURDATE(), order_date) AS days_ago
FROM Orders;


SELECT *
FROM Orders
WHERE order_date >= CURDATE() - INTERVAL 30 DAY;


SELECT 
    customer_name,
    DATE_FORMAT(order_date, '%d-%m-%Y') AS formatted_date
FROM Orders;